body {
    background-image:url("/images/buksbackground.png");
	background-repeat: no-repeat;
	background-position: right 5% top;
	background-attachment: fixed;
	min-height: 1000px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
}

a.mytablelink:hover,a.mytablelink:focus,a.mytablelink:link,a.mytablelink:visited,a.mytablelink:active  {
	color: black;
	font-weight: normal;
	text-decoration: none;
}



a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:hover {
	font-weight: bold;
	color: black;
}
a:active {
	font-weight: bold;
	color: black;
}

#bootstrap-overrides #mytablelink a {
	color: black;
	font-weight: normal;
	text-decoration: none;
}


#bootstrap-overrides #banner a:hover,#bootstrap-overrides  #banner a:link, #bootstrap-overrides  #banner a:visited,  #bootstrap-overrides #banner a:active {
	color: red;
	font-weight: normal;
}



#bootstrap-overrides #banner {
	color: red;
	font-variant: small-caps;
}

#bootstrap-overrides h1 {
	font-size: 70px;
	padding-bottom:20px;
	margin-bottom:20px;
}


#bootstrap-overrides .lastline {
	text-align: right;
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	right:5%;
	width:95%;
}

#bootstrap-overrides .morebutton {
	color: red;
	font-variant: small-caps;
	text-align: right;
	display: block;
}

#bootstrap-overrides .summary, #bootstrap-overrides .article-body {
	font-size:16px;
	text-align: justify;
}

#bootstrap-overrides .articledetails {
	font-size:8pt;
	padding-bottom:0px;
	margin-bottom:0px;
}

#bootstrap-overrides .taxtitle {
	color: red;
	font-variant: small-caps;
}

#bootstrap-overrides .taxnames {
	font-variant: small-caps;
}


#bootstrap-overrides #posttitle {
	padding-top:0px;
	margin-top:0px;
	padding-bottom:10px;
	margin-bottom:10px;
}


#bootstrap-overrides h2 {
	font-size: 35px;

}

#bootstrap-overrides h3 {
	font-size: 20px;
}

hr { 
    width: 50%; 
    height: 1px; 
    margin: 0 auto;
    color: red;
    background: red;
}

#mytable {
	border:1px solid black; 
	border-collapse: collapse;
	width:100%
	padding:0px;
	margin:0px;
	border-bottom:2px solid black;
}

#firstrow {
	font-weight:bold;
	font-size:16px;
	border:2px solid black;
}



.firstcell {
	width:5%;
	text-align:center;
	vertical-align:middle;
	border-left:2px solid black; 
	border-right:2px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

.secondcell, .thirdcell, .fourthcell {
	width:25%;
	font-size:16px;
	text-align:left;
	vertical-align:top;
	border-left:2px solid black; 
	border-right:2px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding:2px;
}

.fifthcell {
	width:15%;
	font-size:10px;
	text-align:left;
	vertical-align:top;
	border-left:2px solid black; 
	border-right:2px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding:2px;
}

